.head {
    width: 100%;
    height: 100vh;
    background: transparent;
    background-size: cover;
    color: aliceblue;
    display: flex;
}

.side-nav {
    width: 250px;
    height: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: #000915;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

.user-name h2 {
    font-size: 12px;
    text-align: center;
}

.user h2 {
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
}

.user-img {
    width: 40px;
    border-radius: 50%;
    margin: auto;
}

.star-img {
    width: 20px;
}

ul {
    list-style: none;
    padding: 0 15px;
}

.head ul .active{
  color: #6fc479;
}

.head ul li {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.head ul a {
    text-decoration: none;
    color: white;
}
.head .ul li:hover {
    color: #00ff1e;
    transition: .6s;
}

.head ul li img {
    width: 30px;
    margin-right: 10px;
}

.head ul li p {
    white-space: nowrap;
}


.main_content{
    margin-top: 10%;
    width: 70%;
    margin-left: 350px;
}

.main_content .header{
    font-size: 30px;
    padding: 10px;
    background: #fff;
    color: #000915;
    border-bottom: 1px solid #e0e4e8;
}

  /*Profile Section Starts Here*/
.dashboard-widget {
    margin-top: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 6px 18px 0px rgba(16, 5, 54, 0.17);
    padding: 30px 20px;
  }
  .dashboard-widget .user {
    text-align: center;
    margin-bottom: 30px;
  }
  .dashboard-widget .user .thumb-area {
    width: 100px;
    margin: 0 auto 30px;
    position: relative;
  }
  .dashboard-widget .user .thumb-area .profile-pic-edit {
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 16px;
    color: #ffffff;
    background: -ms-linear-gradient(135deg, rgb(135, 57, 230) 0%, rgb(84, 150, 255) 100%);
    box-shadow: 0px 19px 56px 0px rgba(0, 0, 0, 0.2);
    margin: 0;
  }
  .dashboard-widget .user .thumb-area .thumb {
    border-radius: 50%;
    overflow: hidden;
  }
  .dashboard-widget .user .thumb-area .thumb img {
    width: 100%;
  }
  .dashboard-widget .user .content .title {
    margin-bottom: 5px;
  }
  .dashboard-widget h2, .dashboard-widget h3, .dashboard-widget h4, .dashboard-widget h5, .dashboard-widget h6 {
    color: #37406f;
  }
  .dashboard-widget h2 a, .dashboard-widget h3 a, .dashboard-widget h4 a, .dashboard-widget h5 a, .dashboard-widget h6 a {
    color: #37406f;
  }
  .dashboard-widget .dashboard-title {
    border-bottom: 1px solid #d5d7f3;
    margin-bottom: 20px;
  }
  .dashboard-widget .dashboard-title .title {
    padding-bottom: 20px;
  }
  
  .dashboard-menu li {
    padding: 0;
    margin-bottom: 1px;
  }
  .dashboard-menu li a {
    padding: 10px 20px;
    color: #37406f;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 30px;
    border-radius: 25px;
    display: block;
  }
  .dashboard-menu li a i {
    font-weight: 400;
    margin-right: 10px;
    color: #ee4730;
  }
  .dashboard-menu li a:hover, .dashboard-menu li a.active {
    background: #f7f6fc;
  }
  
  .dashboard-item {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2.487px 1.678px 57px 0px rgba(16, 5, 54, 0.13);
    margin-bottom: 30px;
    padding: 40px 15px 30px;
    text-align: center;
  }
  .dashboard-item .thumb {
    height: 80px;
    margin-bottom: 16px;
  }
  .dashboard-item .thumb img {
    max-width: 100%;
  }
  
  .dashboard-purchasing-tabs .nav-tabs {
    margin-bottom: 25px;
  }
  .dashboard-purchasing-tabs .nav-tabs li {
    padding: 0 10px;
  }
  .dashboard-purchasing-tabs .nav-tabs li:first-child {
    padding-left: 0;
  }
  .dashboard-purchasing-tabs .nav-tabs li:last-child {
    padding-right: 0;
  }
  .dashboard-purchasing-tabs .nav-tabs li a {
    padding: 10px 0;
    position: relative;
    color: #37406f;
  }
  .dashboard-purchasing-tabs .nav-tabs li a::after {
    bottom: -1px;
    left: 0;
    right: 100%;
    top: calc(100% - 3px);
    background: #00ff1e;
    position: absolute;
    content: "";
    transition: all ease 0.3s;
  }
  .dashboard-purchasing-tabs .nav-tabs li a.active::after {
    right: 0;
  }
  
  .purchasing-table {
    width: 100%;
    font-size: 16px;
  }
  .purchasing-table thead th {
    color: #37406f;
  }
  .purchasing-table tbody tr {
    font-size: 16px;
    color: #171d1c;
    font-weight: 500;
  }
  .purchasing-table tbody tr:hover {
    background: rgba(215, 217, 245, 0.078);
  }
  .purchasing-table tbody tr td {
    padding: 13px 0;
    border-bottom: 1px solid rgba(215, 217, 245, 0.502);
    transition: all ease 0.3s;
  }
  
.dash-pro-item .header {
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .dash-pro-item .header .title {
    margin: 0;
    width: calc(100% - 80px);
  }
  .dash-pro-item .header .edit {
    text-align: right;
    width: 80px;
    cursor: pointer;
  }
  .dash-pro-item .dash-pro-body li {
    color: #37406f;
    padding: 0;
    margin-bottom: 8px;
  }
  .dash-pro-item .dash-pro-body li .info-name {
    width: 135px;
    position: relative;
    padding-right: 15px;
  }
  .dash-pro-item .dash-pro-body li .info-name:after {
    content: ":";
    position: absolute;
    right: 0;
  }
  .dash-pro-item .dash-pro-body li .info-value {
    width: calc(100% - 135px);
    padding-left: 20px;
  }
  .dash-pro-item .dash-pro-body li .info-value i {
    font-size: 14px;
  }
  
  .dash-bid-item .header {
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .dash-bid-item .header .title {
    margin: 0;
  }
  .dash-bid-item .button-area {
    margin: -10px;
    border: none;
  }
  .dash-bid-item .button-area li {
    padding: 10px;
  }
  .dash-bid-item .button-area li .custom-button {
    text-transform: capitalize;
  }
  .dash-bid-item .button-area li .custom-button.active {
    color: #ffffff;
    background: -ms-linear-gradient(92deg, #ff8359 0%, #ffdf40 100%);
  }
  .dash-bid-item .button-area .list li {
    padding: 0 20px;
  }
  
  .sort-winning-bid {
    align-items: center;
    justify-content: center;
    color: #171d1c;
    font-size: 16px;
    padding: 10px;
  }
  .sort-winning-bid .item {
    margin-right: 8px;
  }
  .sort-winning-bid .select-bar {
    height: 37px;
    border-radius: 19px;
    width: 135px;
    padding: 0;
    padding-left: 30px;
  }
  .sort-winning-bid .select-bar .current {
    line-height: 37px;
    text-transform: capitalize;
    font-size: 16px;
    color: #171d1c;
  }
  .sort-winning-bid .select-bar::after {
    height: 7px;
    width: 7px;
    border-color: #171d1c;
  }

  button{
    position: absolute;
    justify-content: right;
  }
  .button-right {
    position: fixed;
    right: 20px; 
    bottom: 20px; 
    padding: 10px 20px;
    background-color: #000000; 
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button-right:hover {
    background-color: #00ff1e; 
    color: black;
}
.btn-a {
  text-decoration: none;
  color: inherit; 
}
 /*Dashboard Section Starts Here*/



  .dash-widget {
    margin-top: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 6px 18px 0px rgba(16, 5, 54, 0.17);
    padding: 30px 20px;
    color: #000915;
  }
  .dash-item {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2.487px 1.678px 57px 0px rgba(16, 5, 54, 0.13);
    margin-bottom: 10px;
    padding: 40px 15px 30px;
    text-align: center;
  }

  .card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card{
    width:325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2.487px 1.678px 57px 0px rgba(16, 5, 54, 0.13);
    margin-top: 20px;
  }

  .card img{
    width: 100%;
    height: auto;
  }

  .card-content{
    padding: 20px;
  }

  .card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
  }

  .card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
  }

  table {
    border-collapse: collapse;
    width: 100%;
}
  table, th, td {
    text-align: center;
    padding: 10px;
}

.card-content .btn-2{
  display: inline-block;
  padding: 8px 16px;
  background-color: #ee4730;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #fff;
}

.card-content .btn-1{
  display: inline-block;
  padding: 8px 16px;
  background-color: #04ff00;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
  color: #fff;
}

/*Manage Ads section here*/


.form {
  --width-of-input: 300px;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #37ff00;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
 }

 .input {
  color: #000000;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
 }

 .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
 }
 
 input:hover {
  background: var(--input-hovered-color);
 }
 
 input:focus {
  outline: none;
 }
 
 input:focus ~ .input-border {
  width: 100%;
 }

 /* From Uiverse.io by escannord */ 
 .input-img {
  max-width: 190px;
  display: none;
}

.labelFile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 190px;
  border: 2px dashed #ccc;
  align-items: center;
  text-align: center;
  padding: 5px;
  color: #404040;
  cursor: pointer;
}

.card-img{
  display: contents;
  width:200px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 2.487px 1.678px 57px 0px rgba(16, 5, 54, 0.13);
  margin-top: 20px;
}
.card-img img{
  height: auto;
  width: 100%;
}